---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout>
  <main class="w-full md:w-1/2 prose pt-8 mx-auto">
    <h1>Blog Landing Page</h1>
    <p>Should render all posts using an API call...</p>
  </main>
</BaseLayout>