---
import Counter from '../components/Counter.vue'
---
<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <h1>Hello, World!</h1>
    <Counter client:load />
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>