---
import { renderRichText, storyblokEditable } from '@storyblok/astro'
import resolveComponent from '@lib/componentResolver'

const { blok } = Astro.props

const renderedRichText = renderRichText(blok.content, {
  resolver: (component: string, blok: any) => {
    return resolveComponent(component, blok)
  }
})
---

<article {...storyblokEditable(blok)} class="w-full md:w-1/2 mx-auto">
  <h2 class='text-4xl font-bold text-primary py-8'>
    {blok.title}
  </h2>
  <p class="text-sm mb-8">{blok.date}</p>
  <div set:html={renderedRichText} class="prose mb-12" />
</article>
